{% load i18n %} {% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Polyglot test</title>
	</head>
	<body>
		<h1>{{ hello }}</h1>
		<p>
			{% blocktrans %} Polyglot is a CLI tool that automates translation tasks and can be easily integrated into your python softwares. Using the
			DeepL API, Polyglot generates a translated file from a given source file. {% endblocktrans %}
		</p>
	</body>
</html>
